src/main/mule/chatgpt.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="67a13e8a-9d12-4307-9e70-90b066906a3d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="133c7039-da98-4267-9c91-f63c44ea9569" >
		<http:request-connection protocol="HTTPS" host="api.openai.com" />
	</http:request-config>
	<flow name="chatgptFlow" doc:id="a4cdf071-4e38-4616-990b-185be88f4a5c" >
		<http:listener doc:name="Listener" doc:id="28c93eb0-998a-4516-9971-8b30482e29ab" config-ref="HTTP_Listener_config" path="/v1/chat/completions"/>
		<ee:transform doc:name="Transform Message" doc:id="64bb6c5b-8e39-460f-9591-5f4e77677e97" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="queryParams" ><![CDATA[attributes.queryParams]]></ee:set-variable>
				<ee:set-variable variableName="path" ><![CDATA[attributes.requestPath]]></ee:set-variable>
				<ee:set-variable variableName="headers" ><![CDATA[attributes.headers]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="66013383-462a-41d0-bf7c-ca18a49607ae" config-ref="HTTP_Request_configuration" path="#[vars.path]">
			<http:headers ><![CDATA[#[vars.headers]]]></http:headers>
			<http:query-params ><![CDATA[#[vars.queryParams]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="e171f2cc-a603-4f42-9aec-9b193d0c025b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
